<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Kontaktirajte nas</h2>
        <p class="lead">Trg Dositeja Obradovića 6, 21101 Novi Sad<br /><br />Telefon: (+381) 21 450 810<br />(+381) 21 6350 413<br />Fax: (+381) 21 458 133<br />E-mail: ftndean@uns.ac.rs</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <div id="map"></div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
