<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sub-intro-message">
          <h1><%= heading %></h1>
        </div>
      </div>
    </div>
  </div>
</div>