<!-- Page Content -->
<a  name="services"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Budi human</h2>
        <p class="lead">Budi human - priključi se akciji dobrovoljnog davanja krvi. Tvoje malo nekom će značiti mnogo - život!</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="<%= asset_path 'blood1.jpg' %>" alt="">
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Ko moze da se prikljuci akciji?</h2>
        <p class="lead">Dobrovoljni davalac krvi može biti svaka zdrava osoba između 18 i 65 godina koja zadovoljava određene kriterijume i koja svojim davanjem ne ugrožava svoje zdravlje ili zdravlje pacijenata.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="<%= asset_path 'blood2.jpg' %>" alt="">
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Baza registrovanih davaoca krvi</h2>
        <p class="lead">Pregledajte i pretrazjte nasu bazu dobrovoljnih davoca krvi <a href="<%= donor_database_path %>">ovde</a>.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="<%= asset_path 'blood3.png' %>" alt="">
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->
